/*  ##########################################################################################################


		                       ██╗███╗   ███╗██████╗  ██████╗ ██████╗ ████████╗
		                       ██║████╗ ████║██╔══██╗██╔═══██╗██╔══██╗╚══██╔══╝
		                       ██║██╔████╔██║██████╔╝██║   ██║██████╔╝   ██║   
		                       ██║██║╚██╔╝██║██╔═══╝ ██║   ██║██╔══██╗   ██║   
		                       ██║██║ ╚═╝ ██║██║     ╚██████╔╝██║  ██║   ██║   
		                       ╚═╝╚═╝     ╚═╝╚═╝      ╚═════╝ ╚═╝  ╚═╝   ╚═╝   

						   
########################################################################################################## */

/*  ##########################################################################################################

			                       ██╗  ██╗████████╗███╗   ███╗██╗     
			                       ██║  ██║╚══██╔══╝████╗ ████║██║     
			                       ███████║   ██║   ██╔████╔██║██║     
			                       ██╔══██║   ██║   ██║╚██╔╝██║██║     
			                       ██║  ██║   ██║   ██║ ╚═╝ ██║███████╗
			                       ╚═╝  ╚═╝   ╚═╝   ╚═╝     ╚═╝╚══════╝

						   
########################################################################################################## */

html {
	scroll-behavior: smooth;
}

/*  ##########################################################################################################


    		                       ██████╗  ██████╗  ██████╗ ████████╗
        			               ██╔══██╗██╔═══██╗██╔═══██╗╚══██╔══╝
				                   ██████╔╝██║   ██║██║   ██║   ██║   
			                       ██╔══██╗██║   ██║██║   ██║   ██║   
			                       ██║  ██║╚██████╔╝╚██████╔╝   ██║   
			                       ╚═╝  ╚═╝ ╚═════╝  ╚═════╝    ╚═╝   

						   
########################################################################################################## */

:root {
	--navcolor: #0c0c0c;
	--icons-color: #ffffff;
	/* --navcolor: #494949; */
}

* {
	box-sizing: border-box;
	outline: none;
	margin: 0;
	padding: 0;
}

/* ##########################################################################################################


                           ███╗   ██╗ █████╗ ██╗   ██╗██████╗  █████╗ ██████╗ 
                           ████╗  ██║██╔══██╗██║   ██║██╔══██╗██╔══██╗██╔══██╗
                           ██╔██╗ ██║███████║██║   ██║██████╔╝███████║██████╔╝
                           ██║╚██╗██║██╔══██║╚██╗ ██╔╝██╔══██╗██╔══██║██╔══██╗
                           ██║ ╚████║██║  ██║ ╚████╔╝ ██████╔╝██║  ██║██║  ██║
                           ╚═╝  ╚═══╝╚═╝  ╚═╝  ╚═══╝  ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝


########################################################################################################## */

/*  ##########################################################################################################


		                    	       ██████╗  ██████╗ ██████╗ ██╗   ██╗
			                           ██╔══██╗██╔═══██╗██╔══██╗╚██╗ ██╔╝
                    			       ██████╔╝██║   ██║██║  ██║ ╚████╔╝ 
        			                   ██╔══██╗██║   ██║██║  ██║  ╚██╔╝  
			                           ██████╔╝╚██████╔╝██████╔╝   ██║   
			                           ╚═════╝  ╚═════╝ ╚═════╝    ╚═╝   
 
########################################################################################################## */

body {
    background-color: #333;
	font-family: 'Roboto', sans-serif;
	height: 2000px;
	color: rgb(255, 255, 255);
	box-shadow: inset 0 0 5rem rgba(10, 0, 0, .5);
}

/*  ##########################################################################################################

									   ███╗   ███╗ █████╗ ██╗███╗   ██╗
		             	 	           ████╗ ████║██╔══██╗██║████╗  ██║
		            	               ██╔████╔██║███████║██║██╔██╗ ██║
		            	               ██║╚██╔╝██║██╔══██║██║██║╚██╗██║
		            	               ██║ ╚═╝ ██║██║  ██║██║██║ ╚████║
		            	               ╚═╝     ╚═╝╚═╝  ╚═╝╚═╝╚═╝  ╚═══╝

########################################################################################################## */

/*  ##########################################################################################################

						     ██████╗ █████╗ ██████╗  ██████╗ ██╗   ██╗███████╗███████╗██╗     
						    ██╔════╝██╔══██╗██╔══██╗██╔═══██╗██║   ██║██╔════╝██╔════╝██║     
						    ██║     ███████║██████╔╝██║   ██║██║   ██║███████╗█████╗  ██║     
						    ██║     ██╔══██║██╔══██╗██║   ██║██║   ██║╚════██║██╔══╝  ██║     
						    ╚██████╗██║  ██║██║  ██║╚██████╔╝╚██████╔╝███████║███████╗███████╗
                             ╚═════╝╚═╝  ╚═╝╚═╝  ╚═╝ ╚═════╝  ╚═════╝ ╚══════╝╚══════╝╚══════╝

########################################################################################################## */

/*  ##########################################################################################################


		██████╗ ██╗      █████╗  ██████╗███████╗██╗  ██╗ ██████╗ ██╗     ██████╗ ███████╗██████╗ 
		██╔══██╗██║     ██╔══██╗██╔════╝██╔════╝██║  ██║██╔═══██╗██║     ██╔══██╗██╔════╝██╔══██╗
		██████╔╝██║     ███████║██║     █████╗  ███████║██║   ██║██║     ██║  ██║█████╗  ██████╔╝
		██╔═══╝ ██║     ██╔══██║██║     ██╔══╝  ██╔══██║██║   ██║██║     ██║  ██║██╔══╝  ██╔══██╗
		██║     ███████╗██║  ██║╚██████╗███████╗██║  ██║╚██████╔╝███████╗██████╔╝███████╗██║  ██║
		╚═╝     ╚══════╝╚═╝  ╚═╝ ╚═════╝╚══════╝╚═╝  ╚═╝ ╚═════╝ ╚══════╝╚═════╝ ╚══════╝╚═╝  ╚═╝

						   
########################################################################################################## */

::placeholder {
	text-align: center; 
}
 
/* or, for legacy browsers */
::-webkit-input-placeholder {
	text-align: center;
}
 
:-moz-placeholder { /* Firefox 18- */
	text-align: center;  
}
 
::-moz-placeholder {  /* Firefox 19+ */
	text-align: center;  
}
 
:-ms-input-placeholder {  
	text-align: center; 
}

/*  #########################################################################################################


			                        ██████╗██╗      █████╗ ███████╗███████╗
			                       ██╔════╝██║     ██╔══██╗██╔════╝██╔════╝
			                       ██║     ██║     ███████║███████╗███████╗
			                       ██║     ██║     ██╔══██║╚════██║╚════██║
			                       ╚██████╗███████╗██║  ██║███████║███████║
			                        ╚═════╝╚══════╝╚═╝  ╚═╝╚══════╝╚══════╝

						   
########################################################################################################## */

/*  ##########################################################################################################

                                         ██████╗ ██████╗ ██╗     
										██╔════╝██╔═══██╗██║     
										██║     ██║   ██║██║     
										██║     ██║   ██║██║     
										╚██████╗╚██████╔╝███████╗
										 ╚═════╝ ╚═════╝ ╚══════╝

########################################################################################################## */

.col {
	border-style: solid;
	background-color: red;
	border-color: violet;
}

/*  ##########################################################################################################


			                       ██╗      █████╗ ██████╗ ███████╗██╗     
			                       ██║     ██╔══██╗██╔══██╗██╔════╝██║     
			                       ██║     ███████║██████╔╝█████╗  ██║     
			                       ██║     ██╔══██║██╔══██╗██╔══╝  ██║     
			                       ███████╗██║  ██║██████╔╝███████╗███████╗
			                       ╚══════╝╚═╝  ╚═╝╚═════╝ ╚══════╝╚══════╝

						   
########################################################################################################## */

/* ##########################################################################################################


            			           ███████╗ ██████╗ ██████╗ ███╗   ███╗
		                           ██╔════╝██╔═══██╗██╔══██╗████╗ ████║
			                       █████╗  ██║   ██║██████╔╝██╔████╔██║
			                       ██╔══╝  ██║   ██║██╔══██╗██║╚██╔╝██║
			                       ██║     ╚██████╔╝██║  ██║██║ ╚═╝ ██║
			                       ╚═╝      ╚═════╝ ╚═╝  ╚═╝╚═╝     ╚═╝


########################################################################################################## */

/*  ##########################################################################################################

                           ███████╗ ██████╗  ██████╗ ████████╗███████╗██████╗ 
                           ██╔════╝██╔═══██╗██╔═══██╗╚══██╔══╝██╔════╝██╔══██╗
                           █████╗  ██║   ██║██║   ██║   ██║   █████╗  ██████╔╝
                           ██╔══╝  ██║   ██║██║   ██║   ██║   ██╔══╝  ██╔══██╗
                           ██║     ╚██████╔╝╚██████╔╝   ██║   ███████╗██║  ██║
                           ╚═╝      ╚═════╝  ╚═════╝    ╚═╝   ╚══════╝╚═╝  ╚═╝

						   
########################################################################################################## */

/*  ##########################################################################################################


                           	██╗ ██████╗ ██████╗ ███╗   ██╗███████╗
							██║██╔════╝██╔═══██╗████╗  ██║██╔════╝
							██║██║     ██║   ██║██╔██╗ ██║███████╗
							██║██║     ██║   ██║██║╚██╗██║╚════██║
							██║╚██████╗╚██████╔╝██║ ╚████║███████║
							╚═╝ ╚═════╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝

########################################################################################################## */

.icon-hover:hover {
	transform: scale(1.9);
	color: red;
}
.icons-size {
	font-size: 25px;
}
.bi-tiktok {
	color: var(--icons-color);
}
.bi-facebook {
	color: var(--icons-color);
}
.bi-twitter {
	color: var(--icons-color);
}
.bi-instagram {
	color: var(--icons-color);
}
.bi-steam {
	color: var(--icons-color);
}
.bi-snapchat {
	color: var(--icons-color);
}
.bi-twitch {
	color: var(--icons-color);
}
.bi-youtube {
	color: var(--icons-color);
}
.bi-google {
	color: var(--icons-color);
}
.bi-twitter-x {
	color: var(--icons-color);
}
.bi-whatsapp {
	color: var(--icons-color);
}
.bi-telegram {
	color: var(--icons-color);
}
.bi-reddit {
	color: var(--icons-color);
}
.bi-pinterest {
	color: var(--icons-color);
}
.bi-github {
	color: var(--icons-color);
}
.bi-discord {
	color: var(--icons-color);
}

/*  ##########################################################################################################


				███╗   ███╗███████╗██████╗ ██╗ █████╗      ██████╗ ██╗   ██╗███████╗██████╗ ██╗   ██╗
				████╗ ████║██╔════╝██╔══██╗██║██╔══██╗    ██╔═══██╗██║   ██║██╔════╝██╔══██╗╚██╗ ██╔╝
				██╔████╔██║█████╗  ██║  ██║██║███████║    ██║   ██║██║   ██║█████╗  ██████╔╝ ╚████╔╝ 
				██║╚██╔╝██║██╔══╝  ██║  ██║██║██╔══██║    ██║▄▄ ██║██║   ██║██╔══╝  ██╔══██╗  ╚██╔╝  
				██║ ╚═╝ ██║███████╗██████╔╝██║██║  ██║    ╚██████╔╝╚██████╔╝███████╗██║  ██║   ██║   
				╚═╝     ╚═╝╚══════╝╚═════╝ ╚═╝╚═╝  ╚═╝     ╚══▀▀═╝  ╚═════╝ ╚══════╝╚═╝  ╚═╝   ╚═╝ 


########################################################################################################## */

/*  ##########################################################################################################


                    	       	██╗  ██╗███████╗ █████╗ ██████╗ ███████╗██████╗ 
								██║  ██║██╔════╝██╔══██╗██╔══██╗██╔════╝██╔══██╗
								███████║█████╗  ███████║██║  ██║█████╗  ██████╔╝
								██╔══██║██╔══╝  ██╔══██║██║  ██║██╔══╝  ██╔══██╗
								██║  ██║███████╗██║  ██║██████╔╝███████╗██║  ██║
								╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝
 
########################################################################################################## */

